<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Generator prasówek</strong> stworzony został w celu nauki przez <a
        href="https://github.com/Karol-Waliszewski">Karol Waliszewski</a>.
    </p>
  </div>
</footer>