<header class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a class="has-text-white" href="/">
                    Generator prasówek
                </a>
            </h1>

            <h2 class="subtitle">
                Wersja alpha 1.0
            </h2>

        </div>
    </div>
</header>