<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a id="navbarBurger" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarMobileMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMobileMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Strona główna</a>
                <a class="navbar-item" href="/kategoria/swiat">Świat</a>
                <a class="navbar-item" href="/kategoria/kraj">Kraj</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/konfigurator">
                            <strong>Generuj prasówkę</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>