<div class="configurator">
    <div class="configurator__container">
        <div class="box is-small">
            <div class="field">
                <label class="label" for="category">Kategoria</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select id="category">
                            <option value="both">Kraj oraz świat</option>
                            <option value="country">Kraj</option>
                            <option value="world">Świat</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label" for="quantity" title="Ilość wiadomości na daną kategorię">Ilość wiadomości</label>
                <div class="control">
                    <input class="input" id="quantity" type="number" placeholder="5" value="5" min="1">
                </div>
                <p class="help">Ilość wiadomości liczona jest na daną kategorię</p>
            </div>
            <div class="field is-grouped">
                <p class="control">
                    <a class="button is-primary" id="submit" href="#">
                        Generuj prasówkę
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light" href="/">
                        Powrót
                    </a>
                </p>
            </div>

        </div>
    </div>
</div>
<script src="/configurator.js"></script>