{{#ifEquals news.length 0}}
<div class="notification is-danger mt">
  Aktualnie nie ma dostępnych żadnych prasówek. Proszę sprawdzić później.
</div>
{{else}}
{{> pagination this}}
<ul>
    {{#news}}
    <li>
        {{> article_preview this}}
    </li>
    {{/news}}
</ul>
{{> pagination this}}
{{/ifEquals}}